base58==2.1.0
pandas==1.2.5
Pillow==8.3.0
opencv-python-headless
streamlit==0.88.0
aif360
fairlearn
tensorflow==2.1
seaborn
scikit-image
shap
xgboost
keras==2.2.5
image-classifiers==1.0.0
lime
nltk
numpy==1.19.5
responsibly
h5py==2.10.0
